body {
    font-family: sans-serif;
}

#chartContainer {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

/* Outros estilos */
.text-danger {
    color: red !important; /* Importante para sobrescrever estilos do Bootstrap */
}